h1{
color:blue;
}
li{
color:rgb(255,97,0);
}
p{
color:#0895a8;
}
h2{
color:rgba(255,97,0,1)
}
body{
background-color:pink;
}
div{
background:white;
border-color:blue;
border-width:2px;
border-style:dotted;
}
span{
background:red;
color:black;
}
first div{
color:blue;
}
.second div{
color:red;
}
#singledout{
color:green;
text-decoration:line-through;
}
h3+ul{
border:4px dotted purple;
}
li a{
color:red;
}
li a[href="https://www.indiabix.com/"]{
color;blue;
border:5px solid orange;
}
.topitems{
color:blue;
}
#two{
border:3px solid black;
} 
